@charset "UTF-8";
/* CSS Document */

header.masthead{
    background: none;
}

#mainNav .navbar-nav .nav-item .nav-link {
    color: #000;
  }

  .carousel-inner img {
    width: 100%;
    margin: auto;
}

.bg-primary {
    background-color: #fff !important;
}

.bg-dark {
    background-color: #f8f8f8 !important;
}


h2{
     color: #212529;
}
.top30{
    margin-top: 30px;
}

